*/.idea/*
Lab1/WEB_953505_MANKEVICH/.idea/*
Lab1/WEB_953505_MANKEVICH/WEB_953505_MANKEVICH/bin/*
Lab1/WEB_953505_MANKEVICH/WEB_953505_MANKEVICH/obj/*
Lab1/WEB_953505_MANKEVICH/WEB_953505_MANKEVICH/Logs/*
