@page "/counter"
@using System.ComponentModel.DataAnnotations

<h1>Counter</h1>

<p>Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int _currentCount;
    private FormModel _formModel;

    protected override void OnInitialized()
    {
        _formModel = new FormModel();
    }

    private void IncrementCount()
    {
        _currentCount++;
    }

    private void SetCounter()
    {
        _currentCount = _formModel.NewValue;
    }

    class FormModel
    {
        [DataType("int")]
        [Range(0, int.MaxValue)]
        public int NewValue { get; set; }
    }

}

<EditForm Model="_formModel" OnValidSubmit="SetCounter">
    <DataAnnotationsValidator/>
    <ValidationSummary/>
    <InputNumber @bind-Value="_formModel.NewValue"></InputNumber>

    <input type="submit"
           class="btn btn-outline-info mt-2 mb-2"
           value="Set counter">
</EditForm>