@using WEB_MANKEVICH_953505.Blazor.Client.Models
@if (Car != null)
{
    <img src="@ImageSrc" class="img-thumbnail" width="150"/>
    <div>
        <p>@Car.ManufacturerName - @Car.ModelName</p>
    </div>
}

@code {

    [Parameter]
    public DetailsViewModel Car { get; set; }

    [Parameter]
    public EventCallback<DetailsViewModel> CarChanged { get; set; }

    string ImageSrc => $"images/{Car.Image}";

}